### Mohsin Ali 
### su92-bsdsm-f24-028

### Reading CSV file

In [109]:
import pandas as pd

In [110]:
import pandas as pd

# Load dataset (adjust path if necessary)
df = pd.read_csv('crop_yield.csv')
print("Data loaded successfully.")
print("Shape:", df.shape)
print("Columns:", list(df.columns))
print("\nData types:")
print(df.dtypes)

Data loaded successfully.
Shape: (19689, 9)
Columns: ['Crop', 'Crop_Year', 'Season', 'State', 'Area', 'Annual_Rainfall', 'Fertilizer', 'Pesticide', 'Yield']

Data types:
Crop                object
Crop_Year            int64
Season              object
State                int64
Area                 int64
Annual_Rainfall    float64
Fertilizer         float64
Pesticide          float64
Yield              float64
dtype: object

### CHECKING HEAD VALUES

In [111]:
df.head()

,Crop,Crop_Year,Season,State,Area,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Arecanut,1997,Whole Year,2,8801,2051.4,7024878.38,22882.34,0.796087
1,Arhar/Tur,1997,Kharif,2,3730,2051.4,631643.29,2057.47,0.710435
2,Castor seed,1997,Kharif,2,772,2051.4,75755.32,246.76,0.238333
3,Coconut,1997,Whole Year,2,6105,2051.4,1870661.52,6093.36,5238.051739
4,Cotton(lint),1997,Kharif,2,1517,2051.4,165500.63,539.09,0.420909

### Check tail Values

In [112]:
df.tail()

,Crop,Crop_Year,Season,State,Area,Annual_Rainfall,Fertilizer,Pesticide,Yield
19684,Small millets,1998,Kharif,19,2756,1498.0,395200.00,1160.00,0.500000
19685,Wheat,1998,Rabi,19,950,1498.0,98800.00,290.00,3.000000
19686,Maize,1997,Kharif,10,11450,1356.2,29586735.11,96373.73,1.285000
19687,Rice,1997,Kharif,10,11243,1356.2,26242746.82,85481.26,0.016667
19688,Wheat,1997,Rabi,10,10978,1356.2,22778368.48,74196.64,1.261818

### Print rows and coloumns

shape of data frame

In [113]:
print('Number of rows:', df.shape[0])

Number of rows: 19689

In [114]:
print('Number of columns:', df.shape[1])

Number of columns: 9

In [115]:
print('Number of rows:', df.shape[0])
print('Number of columns:', df.shape[1])

Number of rows: 19689
Number of columns: 9

### Checking Null values

In [116]:
# show columns with missing values (if any)
missing = df.isnull().sum()
print(missing[missing > 0])

Series([], dtype: int64)

### Checking unique values

In [117]:
# show unique values for object columns and summary for numeric columns
print('--- Object columns (sample unique values) ---')
for col in df.select_dtypes(include=['object']).columns:
    print(col, df[col].unique()[:20])

print('\n--- Numeric columns (summary) ---')
for col in df.select_dtypes(include=['number']).columns:
    print(col)
    print(df[col].describe())

--- Object columns (sample unique values) ---
Crop ['Arecanut' 'Arhar/Tur' 'Castor seed' 'Coconut ' 'Cotton(lint)'
 'Dry chillies' 'Gram' 'Jute' 'Linseed' 'Maize' 'Mesta' 'Niger seed'
 'Onion' 'Other  Rabi pulses' 'Potato' 'Rapeseed &Mustard' 'Rice'
 'Sesamum' 'Small millets' 'Sugarcane']
Season ['Whole Year ' 'Kharif     ' 'Rabi       ' 'Autumn     ' 'Summer     '
 'Winter     ']

--- Numeric columns (summary) ---
Crop_Year
count    19689.000000
mean      2009.127584
std          6.498099
min       1997.000000
25%       2004.000000
50%       2010.000000
75%       2015.000000
max       2020.000000
Name: Crop_Year, dtype: float64
State
count    19689.000000
mean        14.328813
std          9.000461
min          0.000000
25%          7.000000
50%         14.000000
75%         22.000000
max         29.000000
Name: State, dtype: float64
Area
count    19689.000000
mean      5244.634669
std       4230.685669
min          0.000000
25%       1260.000000
50%       4452.000000
75%       8843.000000
max      13643.000000
Name: Area, dtype: float64
Annual_Rainfall
count    19689.000000
mean      1437.755177
std        816.909589
min        301.300000
25%        940.700000
50%       1247.600000
75%       1643.700000
max       6552.700000
Name: Annual_Rainfall, dtype: float64
Fertilizer
count    1.968900e+04
mean     2.410331e+07
std      9.494600e+07
min      5.417000e+01
25%      1.880146e+05
50%      1.234957e+06
75%      1.000385e+07
max      4.835407e+09
Name: Fertilizer, dtype: float64
Pesticide
count    1.968900e+04
mean     4.884835e+04
std      2.132874e+05
min      9.000000e-02
25%      3.567000e+02
50%      2.421900e+03
75%      2.004170e+04
max      1.575051e+07
Name: Pesticide, dtype: float64
Yield
count    19689.000000
mean        79.954009
std        878.306193
min          0.000000
25%          0.600000
50%          1.030000
75%          2.388889
max      21105.000000
Name: Yield, dtype: float64

In [118]:
# value counts for categorical columns (if present)
if 'Area' in df.columns:
    print(df['Area'].value_counts())
else:
    print('Column "Area" not found. Showing top categorical columns:')
    for col in df.select_dtypes(include=['object']).columns[:3]:
        print('\n', col)
        print(df[col].value_counts().head())

Area
2        113
6         75
4         66
7         49
8         42
        ...
6403       1
10219      1
4857       1
6308       1
10978      1
Name: count, Length: 13644, dtype: int64

### Filling Null values

In [119]:
# compute modes for object columns (useful for filling)
modes = {col: df[col].mode().iat[0] if not df[col].mode().empty else None for col in df.select_dtypes(include='object').columns}
print(modes)

{'Crop': 'Rice', 'Season': 'Kharif     '}

In [120]:
# Fill missing values: numeric -> mean, object -> mode
for col in df.columns:
    if df[col].isnull().any():
        if pd.api.types.is_numeric_dtype(df[col]):
            df[col].fillna(df[col].mean(), inplace=True)
        else:
            mode = df[col].mode()
            fill = mode.iat[0] if not mode.empty else 'Unknown'
            df[col].fillna(fill, inplace=True)

print('Missing values remaining:', df.isnull().sum().sum())

Missing values remaining: 0

In [121]:
# show a quick numeric summary after filling
print(df.select_dtypes(include=['number']).describe())

          Crop_Year         State          Area  Annual_Rainfall  \
count  19689.000000  19689.000000  19689.000000     19689.000000
mean    2009.127584     14.328813   5244.634669      1437.755177
std        6.498099      9.000461   4230.685669       816.909589
min     1997.000000      0.000000      0.000000       301.300000
25%     2004.000000      7.000000   1260.000000       940.700000
50%     2010.000000     14.000000   4452.000000      1247.600000
75%     2015.000000     22.000000   8843.000000      1643.700000
max     2020.000000     29.000000  13643.000000      6552.700000

         Fertilizer     Pesticide         Yield
count  1.968900e+04  1.968900e+04  19689.000000
mean   2.410331e+07  4.884835e+04     79.954009
std    9.494600e+07  2.132874e+05    878.306193
min    5.417000e+01  9.000000e-02      0.000000
25%    1.880146e+05  3.567000e+02      0.600000
50%    1.234957e+06  2.421900e+03      1.030000
75%    1.000385e+07  2.004170e+04      2.388889
max    4.835407e+09  1.575051e+07  21105.000000

In [122]:
# compute mean only for numeric columns to avoid dtype errors
df.select_dtypes(include='number').mean()

Crop_Year          2.009128e+03
State              1.432881e+01
Area               5.244635e+03
Annual_Rainfall    1.437755e+03
Fertilizer         2.410331e+07
Pesticide          4.884835e+04
Yield              7.995401e+01
dtype: float64

In [123]:
df.mode()

,Crop,Crop_Year,Season,State,Area,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Rice,2019,Kharif,12,2,1434.5875,150.8,0.99,1.0

### TYpe conversion to int

In [124]:
import numpy as np

# Safely convert object columns that contain numeric values to numeric dtype.
# This handles commas and coerces non-convertible values to NaN.
for col in df.select_dtypes(include=['object']).columns:
    cleaned = df[col].astype(str).str.replace(',', '').str.strip()
    coerced = pd.to_numeric(cleaned, errors='coerce')
    # convert column if conversion produced mostly numbers (no loss)
    if coerced.notna().sum() >= (0.9 * len(coerced)):
        df[col] = coerced

print('Converted possible numeric-like object columns.')
print(df.dtypes)

Converted possible numeric-like object columns.
Crop                object
Crop_Year            int64
Season              object
State                int64
Area                 int64
Annual_Rainfall    float64
Fertilizer         float64
Pesticide          float64
Yield              float64
dtype: object

### Dropping Unnecerray columns

In [125]:
# Show a sample of your actual CSV data and highlight columns that look like IDs
print('First 5 rows:')
print(df.head())

print('\nColumns and dtypes:')
print(df.dtypes)

print('\nColumns with very high cardinality (possible ID columns):')
for col in df.columns:
    if df[col].nunique() > 0.9 * df.shape[0]:
        print(col, '-> unique count:', df[col].nunique())

First 5 rows:
           Crop  Crop_Year       Season  State  Area  Annual_Rainfall  \
0      Arecanut       1997  Whole Year       2  8801           2051.4
1     Arhar/Tur       1997  Kharif           2  3730           2051.4
2   Castor seed       1997  Kharif           2   772           2051.4
3      Coconut        1997  Whole Year       2  6105           2051.4
4  Cotton(lint)       1997  Kharif           2  1517           2051.4

   Fertilizer  Pesticide        Yield
0  7024878.38   22882.34     0.796087
1   631643.29    2057.47     0.710435
2    75755.32     246.76     0.238333
3  1870661.52    6093.36  5238.051739
4   165500.63     539.09     0.420909

Columns and dtypes:
Crop                object
Crop_Year            int64
Season              object
State                int64
Area                 int64
Annual_Rainfall    float64
Fertilizer         float64
Pesticide          float64
Yield              float64
dtype: object

Columns with very high cardinality (possible ID columns):
Fertilizer -> unique count: 18598

### Check datatype of all columns

In [126]:
# Print current DataFrame dtypes to verify conversions
print(df.dtypes)

Crop                object
Crop_Year            int64
Season              object
State                int64
Area                 int64
Annual_Rainfall    float64
Fertilizer         float64
Pesticide          float64
Yield              float64
dtype: object

### Splitting into x and y

In [127]:
# Auto-select a target column for modelling (prefer 'Yield' if present).
if 'Yield' in df.columns:
    target = 'Yield'
else:
    numeric_cols = df.select_dtypes(include=['number']).columns.tolist()
    target = numeric_cols[-1] if numeric_cols else None

if target:
    X = df.drop(columns=[target])
    y = df[target]
    print('Selected target:', target)
    print('Feature matrix shape:', X.shape)
else:
    print('No numeric target column found. Please specify target column name.')

Selected target: Yield
Feature matrix shape: (19689, 8)

### Converting objects columns into int columns

In [128]:
# Final pass: convert remaining object columns that are purely numeric to integers
for col in df.select_dtypes(include=['object']).columns:
    if df[col].str.isnumeric().all():
        df[col] = df[col].astype(int)

print('Dtypes after final conversion:')
print(df.dtypes)

Dtypes after final conversion:
Crop                object
Crop_Year            int64
Season              object
State                int64
Area                 int64
Annual_Rainfall    float64
Fertilizer         float64
Pesticide          float64
Yield              float64
dtype: object