In [69]:
import pandas as pd

### libraries import

In [70]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import LabelEncoder

### Data Preprocessing

In [71]:
# Check for missing values
print(df.isnull().sum())

Crop               0
Season             0
State              0
Area               0
Annual_Rainfall    0
Fertilizer         0
Pesticide          0
Yield              0
dtype: int64

In [72]:
# Display basic statistics
df.describe()

,State,Area,Annual_Rainfall,Fertilizer,Pesticide,Yield
count,19689.000000,19689.000000,19689.000000,1.968900e+04,1.968900e+04,19689.000000
mean,14.328813,5244.634669,1437.755177,2.410331e+07,4.884835e+04,79.954009
std,9.000461,4230.685669,816.909589,9.494600e+07,2.132874e+05,878.306193
min,0.000000,0.000000,301.300000,5.417000e+01,9.000000e-02,0.000000
25%,7.000000,1260.000000,940.700000,1.880146e+05,3.567000e+02,0.600000
50%,14.000000,4452.000000,1247.600000,1.234957e+06,2.421900e+03,1.030000
75%,22.000000,8843.000000,1643.700000,1.000385e+07,2.004170e+04,2.388889
max,29.000000,13643.000000,6552.700000,4.835407e+09,1.575051e+07,21105.000000

In [73]:
# df['city'].fillna(df['city'].mode()[0], inplace=True)
# df['city'] = df['city'].fillna(df['city'].mode()[0])

In [74]:
df.head(1)

,Crop,Season,State,Area,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Arecanut,Whole Year,2,8801,2051.4,7024878.38,22882.34,0.796087

In [75]:
df.tail(7)

,Crop,Season,State,Area,Annual_Rainfall,Fertilizer,Pesticide,Yield
19682,Maize,Kharif,19,6990,1498.0,2964000.00,8700.00,1.225714
19683,Rice,Kharif,19,10122,1498.0,13930800.00,40890.00,1.441429
19684,Small millets,Kharif,19,2756,1498.0,395200.00,1160.00,0.500000
19685,Wheat,Rabi,19,950,1498.0,98800.00,290.00,3.000000
19686,Maize,Kharif,10,11450,1356.2,29586735.11,96373.73,1.285000
19687,Rice,Kharif,10,11243,1356.2,26242746.82,85481.26,0.016667
19688,Wheat,Rabi,10,10978,1356.2,22778368.48,74196.64,1.261818

In [76]:
df.isnull().sum()

Crop               0
Season             0
State              0
Area               0
Annual_Rainfall    0
Fertilizer         0
Pesticide          0
Yield              0
dtype: int64

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19689 entries, 0 to 19688
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Crop             19689 non-null  object
 1   Season           19689 non-null  object
 2   State            19689 non-null  int64
 3   Area             19689 non-null  int64
 4   Annual_Rainfall  19689 non-null  float64
 5   Fertilizer       19689 non-null  float64
 6   Pesticide        19689 non-null  float64
 7   Yield            19689 non-null  float64
dtypes: float64(4), int64(2), object(2)
memory usage: 1.2+ MB

In [78]:
df.head()

,Crop,Season,State,Area,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Arecanut,Whole Year,2,8801,2051.4,7024878.38,22882.34,0.796087
1,Arhar/Tur,Kharif,2,3730,2051.4,631643.29,2057.47,0.710435
2,Castor seed,Kharif,2,772,2051.4,75755.32,246.76,0.238333
3,Coconut,Whole Year,2,6105,2051.4,1870661.52,6093.36,5238.051739
4,Cotton(lint),Kharif,2,1517,2051.4,165500.63,539.09,0.420909

In [79]:
df.tail()

,Crop,Season,State,Area,Annual_Rainfall,Fertilizer,Pesticide,Yield
19684,Small millets,Kharif,19,2756,1498.0,395200.00,1160.00,0.500000
19685,Wheat,Rabi,19,950,1498.0,98800.00,290.00,3.000000
19686,Maize,Kharif,10,11450,1356.2,29586735.11,96373.73,1.285000
19687,Rice,Kharif,10,11243,1356.2,26242746.82,85481.26,0.016667
19688,Wheat,Rabi,10,10978,1356.2,22778368.48,74196.64,1.261818

In [80]:
# Data shape
print(f"Dataset shape: {df.shape}")

Dataset shape: (19689, 8)

In [81]:
df.columns

Index(['Crop', 'Season', 'State', 'Area', 'Annual_Rainfall', 'Fertilizer',
       'Pesticide', 'Yield'],
      dtype='object')

In [82]:
# Split features and target
X = df.drop('Yield', axis=1)
y = df['Yield']

print(f"Features shape: {X.shape}")
print(f"Target shape: {y.shape}")

Features shape: (19689, 7)
Target shape: (19689,)

### Train test splitting

In [83]:
import pandas as pd
df = pd.read_csv('crop_yield.csv')

# Data Preprocessing
df = df.drop('Crop_Year', axis=1)  # Drop unnecessary column

# Remove trailing whitespace from object columns
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].str.strip()

df.columns

Index(['Crop', 'Season', 'State', 'Area', 'Annual_Rainfall', 'Fertilizer',
       'Pesticide', 'Yield'],
      dtype='object')

In [84]:
# Display shapes before train-test split
print(f"X shape: {X.shape}")
print(f"y shape: {y.shape}")

X shape: (19689, 7)
y shape: (19689,)

In [85]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X,y, test_size=0.3, shuffle=False)

In [86]:
print(f"Training set shape: {train_X.shape}, {train_y.shape}")
print(f"Test set shape: {test_X.shape}, {test_y.shape}")

Training set shape: (13782, 7), (13782,)
Test set shape: (5907, 7), (5907,)

In [87]:
print(train_X.head(2))

        Crop      Season  State  Area  Annual_Rainfall  Fertilizer  Pesticide
0   Arecanut  Whole Year      2  8801           2051.4  7024878.38   22882.34
1  Arhar/Tur      Kharif      2  3730           2051.4   631643.29    2057.47

### Model training

In [88]:
# Check data types before encoding
print(train_X.dtypes)

Crop                object
Season              object
State                int64
Area                 int64
Annual_Rainfall    float64
Fertilizer         float64
Pesticide          float64
dtype: object

In [89]:
from sklearn.preprocessing import LabelEncoder

encoders = {}

for col in train_X.columns:
    if train_X[col].dtype == 'object':
        le = LabelEncoder()
        train_X[col] = le.fit_transform(train_X[col])
        test_X[col] = le.transform(test_X[col])
        encoders[col] = le

print("Encoding completed for categorical variables")

Encoding completed for categorical variables

In [90]:
# Check encoded data
print(train_X.head())

   Crop  Season  State  Area  Annual_Rainfall  Fertilizer  Pesticide
0     0       4      2  8801           2051.4  7024878.38   22882.34
1     1       1      2  3730           2051.4   631643.29    2057.47
2     8       1      2   772           2051.4    75755.32     246.76
3     9       4      2  6105           2051.4  1870661.52    6093.36
4    11       1      2  1517           2051.4   165500.63     539.09

In [91]:
from sklearn.ensemble import RandomForestRegressor

model_rf = RandomForestRegressor(n_estimators=100, random_state=42)
model_rf.fit(train_X, train_y)

print(model_rf)

RandomForestRegressor(random_state=42)

In [92]:
# Encoding already completed - verify encoded features
print("Categorical variables encoded successfully")
print(train_X.dtypes)

Categorical variables encoded successfully
Crop                 int32
Season               int32
State                int64
Area                 int64
Annual_Rainfall    float64
Fertilizer         float64
Pesticide          float64
dtype: object

In [93]:
print(f"Target variable dtype: {train_y.dtype}")
print(f"Target variable is numeric, no encoding needed")

Target variable dtype: float64
Target variable is numeric, no encoding needed

In [94]:
from sklearn.metrics import mean_squared_error, r2_score

# Make predictions
y_pred_train = model_rf.predict(train_X)
y_pred_test = model_rf.predict(test_X)

# Evaluate model
train_r2 = r2_score(train_y, y_pred_train)
test_r2 = r2_score(test_y, y_pred_test)

print(f"Train R² Score: {train_r2:.4f}")
print(f"Test R² Score: {test_r2:.4f}")

Train R² Score: 0.9967
Test R² Score: 0.9413

In [95]:
# Model already trained - check model parameters
print("RandomForest model trained successfully")
print(f"Number of trees: {model_rf.n_estimators}")
print(f"Feature importance:\n{pd.Series(model_rf.feature_importances_, index=train_X.columns).sort_values(ascending=False)}")

RandomForest model trained successfully
Number of trees: 100
Feature importance:
Crop               0.850716
State              0.093918
Pesticide          0.017869
Area               0.013953
Fertilizer         0.012748
Annual_Rainfall    0.010763
Season             0.000033
dtype: float64

In [96]:
import pickle
pickle.dump(model_rf, open('model_rf.pkl', 'wb'))   # Model Saving

In [97]:
import pickle
model_rf = pickle.load(open('model_rf.pkl', 'rb'))  # Model Loading